:root { 
  --boolzap_bg_green: #00a884;
  --boolzap_bg_grey: #dddedd;
  --boolzap_light: #ffffff;
  --boolzap_class_active: #e9ebeb;
  --boolzap_class_sent: #d5f9ba;
  --boolzap_grey_light: #e5dcd4;
  --boolzap_blue :#8edafc; 
  --boolzap_text_secondary: #b1b1b1;
  --boolzap_bg_grey: #eaeaea;
  --boolzap_search_color: #b5b8ba;
  --boolzap_bg__searc: #fafafa;
  --boolzap_contact: #fdfbf9;
  --boolzap_footer_grey: #f3eeea;
  --boolzap_footer_icon: #6b7376;
}

body {
  background: linear-gradient(180deg, var(--boolzap_bg_green) 0%, var(--boolzap_bg_green) 15%, var(--boolzap_bg_grey) 15%, var(--boolzap_bg_grey) 100%);
  overflow: hidden;
}

.container_boolzap {
  width: 80%;
  margin: auto;
  border: 1px solid var( --boolzap_grey_light);
  height: 54.2rem;
}

img {
  width: 40px;
}

a {
  cursor: pointer;
}

.active {
  background-color: var(--boolzap_class_active);
}

.sent {
  background-color: var(--boolzap_class_sent);
  align-self: flex-end;
}

.received {
  background-color: var(--boolzap_light);
  align-self: start;
}

.sent,
.received {
  padding: .5rem;
  border-radius: 5px;
  width: 30%;
}

#left {
  width: calc(40%);
  border-right: 1px solid var(--boolzap_grey_light);
}

.app_header {
  height: 4rem;
  border-bottom: 1px solid var(--boolzap_grey_light);
}

.app_header,
[class="input-group p-2"] {
  background-color: var(--boolzap_bg_grey);
}

.text_secondary {
  color: var(--boolzap_text_secondary);
}

#right {
  width: calc(60%);
}

#app_main_left .last_message,
#app_main_left .clock {
  font-size: 0.7rem;
  color: var(--boolzap_text_secondary);
}

.search_contact_container {
  background-color: var(--boolzap_contact);
}

#app_main_left {
  background-color: var(--boolzap_light);
}

#app_main_left > header {
  height: 5rem;
  background-color: var(--boolzap_blue);
}

#app_main_left > header i {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: var(--boolzap_light);
  border-radius: 50%;
  color: var(--boolzap_blue);
  width: 2rem;
  padding: 1rem;
  margin: 1rem;
}

#search_icon {
  color: var(--boolzap_search_color);
}

[type="search"],
#search_icon {
  background-color: var(--boolzap_light);
}

#app_main_left .input-group {
  height: 3.5rem;
  background-color: var(--boolzap_bg__searc);
}

#app_main_left .list_contact {
  height: 41.65rem;
}

#app_main_left div {
  border-bottom: 1px solid var(--boolzap_grey_light);
}

#app_main_right {
  background-image: url("../img/mine.jpg");
  height: calc(100% - 8rem);
}

#app_footer_right {
  height: 4rem;
  background-color: var(--boolzap_footer_grey);
}

#input_message {
  width: 45rem;
}

.list_contact, 
#app_main_right {
  overflow-y: scroll;
}

footer i {
  color: var(--boolzap_footer_icon);
}