body {
  background: linear-gradient(180deg, #00a884 0%, #00a884 15%, #dddedd 15%, #dddedd 100%);
  overflow: hidden;
}

.container_boolzap {
  width: 80%;
  margin: auto;
  border: 1px solid #E5DCD4;
  height: 54.2rem;
}

img {
  width: 40px;
}

a {
  cursor: pointer;
}

.active {
  background-color: #e9ebeb;
}

.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.received {
  background-color: #ffffff;
  align-self: start;
}

.sent,
.received {
  padding: .5rem;
  border-radius: 5px;
  width: 30%;
}

#left {
  width: calc(40%);
  border-right: 1px solid #E5DCD4;
}

.app_header {
  height: 4rem;
  border-bottom: 1px solid #E5DCD4;
}

.app_header,
[class="input-group p-2"] {
  background-color: #eaeaea;
}

.text_secondary {
  color: #B1B1B1;
}

#right {
  width: calc(60%);
}

#right > .app_header > span > span,
#app_main_left .last_message,
#app_main_left .clock {
  font-size: 0.7rem;
  color: #B1B1B1;
}

.search_contact_container {
  background-color: #fdfbf9;
}

#app_main_left {
  background-color: white;
}

#app_main_left > header {
  height: 5rem;
  background-color: #8EDAFC;
}

#app_main_left > header i {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  color: #8EDAFC;
  width: 2rem;
  padding: 1rem;
  margin: 1rem;
}

#search_icon {
  color: #b5b8ba;
}

[type="search"],
#search_icon {
  background-color: #ffffff;
}

#app_main_left .input-group {
  height: 3.5rem;
  background-color: #fafafa;
}

#app_main_left .friend_message {
  height: 41.65rem;
}

#app_main_left div {
  border-bottom: 1px solid #E5DCD4;
}

#app_main_right {
  background-image: url("../img/mine.jpg");
  height: calc(100% - 8rem);
}

.details {
  margin-top: 1rem;
  margin-left: -16rem;
}

.details p {
  font-size: 0.7rem;
}

#app_footer_right {
  height: 4rem;
  background-color: #F3EEEA;
}

#input_message {
  width: 45rem;
}

.friend_message, 
#app_main_right {
  overflow-y: scroll;
}

footer i {
  color: #6b7376;
}