body {
  /* overflow: hidden; */
}

.container_boolzap {
  width: 80%;
  margin: auto;
  border: 1px solid #E5DCD4;
  height: 54rem;
}

img {
  width: 40px;
}

#left {
  width: calc(35%);
  border-right: 1px solid #E5DCD4;
}

.app_header {
  height: 4rem;
  border-bottom: 1px solid #E5DCD4;
}

.app_header,
[class="input-group p-2"] {
  background-color: #eaeaea;
}

.text_secondary {
  color: #B1B1B1;
}

#right {
  width: calc(65%);
}

#right > .app_header,
#left > .app_header > span {
  position: relative;
}

#left > .app_header > span > strong,
#right > .app_header > span > strong,
#app_main_left div > strong {
  font-weight:normal;
}

#right > .app_header > span > span {
  top: 38px;
  left: 72px;
}

#right > .app_header > span > span,
#app_main_left .last_message,
#app_main_left .clock {
  font-size: 0.7rem;
  color: #B1B1B1;
  position: absolute;
}

#app_main_left > header {
  height: 5rem;
  background-color: #8EDAFC;
}

#app_main_left div {
  border-top: 1px solid #E5DCD4;
}

#app_main_left .last_message {
  top: 265px;
  left: 244px;
}

#app_main_left .clock {
  top: 230px;
  left: 500px;
}

#app_main_right {
  background-image: url("../img/mine.jpg");
  height: calc(100% - 8rem);
}

#app_footer_right {
  height: 4rem;
  background-color: #F3EEEA;
}

#input_message {
  width: 45rem;
}

.friend_message, 
#app_main_right {
  overflow-y: scroll;
}
